@import url(https://fonts.googleapis.com/css?family=Bangers|Josefin+Sans:400,600|Dancing+Script:700);

html, body {
  box-sizing: border-box;
  margin: 0;
  background: #525659;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*---------------------------------------------------------
 R E S U M E    V I E W
 --------------------------------------------------------*/

 .pdf {
   text-align: center;
   font-weight: bold;
   margin: 10px 0 10px 0;
 }

 .resume {
   text-align: center;
   position: relative;
 }
 img {
 }


/*---------------------------------------------------------
  H E A D E R   D I R E C T I V E
  -------------------------------------------------------*/
header {
  height: 150px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: url('img/grain_background.png');
}
.head {
  z-index: 1;
}

.title {
  margin-bottom: 0;
}

nav li {
  float: left;
  width: 30%;
  border-right: 1px solid #ddd;
  list-style: none;
}

nav li:first-child {
  margin-left: 3%;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: black;
  z-index: 1;
  position: relative;
}

nav li a:hover {
  background: #eee;
}

.hamburger {
  display: none;
}

/*-------------------------------------------------------------------
  M E D I A   Q U E R I E S
  ------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

  .title {
    margin-top: 0;
  }

  .hamburger {
    cursor: pointer;
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }

  /*.line:last-child {
    margin-bottom: 0;
  }*/
  /*ul a {
    display: block;
    padding: 20px;
    padding-right: 0 !important;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    cursor: pointer;
  }*/

  nav li {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  nav li a {
    padding: 20px;
    padding-right: 0 !important;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background: grey;
  }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }

  .open {
    height: 200px;
  }
}
