@import url(https://fonts.googleapis.com/css?family=Bangers|Josefin+Sans:400,600|Dancing+Script:700);

html, body {
  box-sizing: border-box;
  margin: 0;
  background: #525659;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/*---------------------------------------------------------
 R E S U M E    V I E W
 --------------------------------------------------------*/

 .pdf {
   text-align: center;
   font-weight: bold;
   margin: 10px 0 10px 0;
 }

 .resume {
   text-align: center;
   position: relative;
 }
 /*---------------------------------------------------------
  P H O T O    G A L L E R Y
-------------------------------------------------------*/
.pics {
  height: 300px;
  width: 300px;
  float: left;
  margin: 3% 0 0 6%;
}
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
#close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close:hover,
#close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/*---------------------------------------------------------
  H E A D E R   D I R E C T I V E
  -------------------------------------------------------*/
header {
  height: 150px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: url('img/grain_background.png');
}
.head {
  z-index: 1;
}

.title {
  margin-bottom: 0;
}

nav li {
  float: left;
  width: 30%;
  border-right: 1px solid #ddd;
  list-style: none;
}

nav li:first-child {
  margin-left: 3%;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  text-decoration: none;
  color: black;
  z-index: 1;
  position: relative;
}

nav li a:hover {
  background: #eee;
}

.hamburger {
  display: none;
}

/*-------------------------------------------------------------------
  M E D I A   Q U E R I E S
  ------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {

  .title {
    margin-top: 0;
  }

  .hamburger {
    cursor: pointer;
    padding: 15px;
    display: block;
  }

  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }

  /*.line:last-child {
    margin-bottom: 0;
  }*/
  /*ul a {
    display: block;
    padding: 20px;
    padding-right: 0 !important;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    cursor: pointer;
  }*/

  nav li {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
  nav li a {
    padding: 20px;
    padding-right: 0 !important;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background: grey;
  }

  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }

  .open {
    height: 200px;
  }
}
